/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    background-color: #1b1b1b;
    margin: 0;
    padding: 0;
    color: #ececec;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Estilos para cabeçalho */
header {
    display: flex;
    justify-content: end;
    flex-direction: column;
    height: 30vh;
    background-color: #009df1;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}



nav {
    text-align: center;
    margin-top: 20px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: color 0.3s;
}

nav a:hover {
    color: #005ea3;
}

/* Estilos para seções */
section {
    padding: 40px 0;
    text-align: center;
}

section h2 {
    font-size: 28px;
    margin: 0 0 20px 0;
}

/* Estilos para botões */
.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #009df1;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.2s;
}

.button:hover {
    background-color: #005ea3;
}


/* Estilos para carrossel */
.carousel-container, .carousel-container-destaques{
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
    scrollbar-width: thin; /* Para navegadores baseados em Gecko, como o Firefox */
    scrollbar-color: darkblue lightblue; /* Cor da barra e da alça, ajuste conforme necessário */
    gap: 5vw;
    justify-content: flex-start;
    align-items: center;
}

.carousel-container-destaques{
    justify-content: start;
}

/*
-webkit-scrollbar-{thin;}  Para navegadores WebKit, como Chrome e Safari 
-webkit-scrollbar-thumb{ lightblue;}  Cor da alça para navegadores WebKit 
-webkit-scrollbar-track{ darkblue;} 
*/
.carousel-container::-webkit-scrollbar {
    background-color: #009df1;
}

.carousel-container-destaques::-webkit-scrollbar{
    background-color: #009df1;
}
.carousel-container::-webkit-scrollbar-thumb{
    background-color: #005ea3;
}
.carousel-container-destaques::-webkit-scrollbar-thumb{
    background-color: #005ea3;
}

.carousel-container-destaques{
    background-color:#009df1;
    padding-top: 3vh;
}


.sobre{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: medium;   
}

.sobre p{
    text-align: justify;
}

.container-sobre{
    max-width: 50vw;
}


.produto {
    margin-bottom: 2vw;
    background-color: #bb1b1b;
    flex: 20 20 auto;
    min-width: 40vh;
    max-width: 40vh;
    margin-left: 2vw;
    margin-right: 2vw;
    border: 1px;
    border-radius: 1vw;
    padding: 3vw;
    text-align: center;
    min-height: 40vh;
    max-height: 40vh;
}

.carousel-container-destaques .produto{
    min-width: 45%;
    max-width: 45%;
}
.central-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;    
}

.produto img {
    width: 10vh;
    height: 10vh;
    height: auto;
}

/* Estilos para rodapé */
footer {
    background-color: #009df1;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

/* Estilos para links no rodapé */
footer a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

footer a:hover {
    text-decoration: underline;
}

@media only screen and (max-width: 768px) {
    header h1 {
        font-size: 5vh;
        margin: 0;
        margin-top: 5vh;
    }

    h6{
        font-size: 5vw;
    }
}


@media only screen and (max-width: 480px) {
    header h1 {
        font-size: 3vh;
        margin: 0;
        margin-top: 5vh;
    }

    h6{
        font-size: 3vh;
    }
}

@keyframes fadeInText {
    from {
        opacity: 0;    
    }
    to { 
        opacity: 1;  
        color: #009df1;
    }
}

#animated-text {
    overflow: hidden;
    white-space: nowrap;
    animation: fadeInText 4s steps(220) forwards; /* Ajuste a duração conforme necessário */
}
h6{
    font-size: 5vw;
}
